@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.skeleton {
  width: 100%;
  height: 100vh;
  background: var(--color-background-secondary);
  border-radius: 8px;
  overflow: hidden;
  animation: pulse 1.5s ease-in-out 0.5s infinite;

  &__image {
    width: 100%;
    height: 70%;
    background: var(--color-background-tertiary);
  }

  &__content {
    padding: 1rem;
  }

  &__title {
    width: 60%;
    height: 24px;
    background: var(--color-background-tertiary);
    margin-bottom: 1rem;
    border-radius: 4px;
  }

  &__text {
    width: 100%;
    height: 16px;
    background: var(--color-background-tertiary);
    border-radius: 4px;
  }
} 