.hero {
  &__slider {

    &-thumbs {
     padding: 0 16px;
    }

    &-wrap {
      margin: 0 -15px;
    }

    &-item {
      width: 100%;
      overflow: hidden;

      &--thumb {
        width: 100px;

        @media screen and (min-width: 768px) {
          width: 150px;
        }
      }

      & img {
        width: 100%;
        height: 100%;
        pointer-events: none;
        image-rendering: -o-crisp-edges;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
    }
  }

  &__animate {

    &-wrap {
      margin: 0 -15px;
    }

    &-item {
      width: 100px;
      height: 150px;
     
      background-color: gray;
      border-radius: 20px;

      @media screen and (min-width: 768px) {
        width: 150px;
        height: 200px;
      }
    
      &--big {
        width: 100%;
        height: 66vh;
        border-radius: 0;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          z-index: 1;
          top: 50%;
          bottom: 0;
          background: linear-gradient(0deg, var(--background) 10%, transparent);
        }
      }
    }

    &-list {
      display: flex;
      overflow-x: hidden;
      gap: 8px;
      padding: 24px 16px 0;
    }
  }
}

.hero-slide {
  position: relative;
  display: flex;
  width: 100%;
  padding-bottom: 83%;

  &__video {
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    user-select: none;
    pointer-events: none;
  }

  &__thumb {
    height: 150px;
    overflow: hidden;
    border-radius: 20px;
    border: 3px solid transparent;
    margin-bottom: 3px;


    @media screen and (min-width: 768px) {
      height: 200px;
    }
  }

  @media screen and (min-width: 360px) {
    padding-bottom: 87%;
  }

  @media screen and (min-width: 425px) {
    padding-bottom: 70%;
  }

  @media screen and (min-width: 650px) {
    padding-bottom: 60%;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 66%;
  }

  @media screen and (min-width: 960px) {
    padding-bottom: 66vh;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 55%;
    z-index: 1;
    border-radius: 0;
    background: linear-gradient(90deg,var(--background)  65%, transparent);
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 24px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 600;
  }

  &__name {
    font-size: 24px;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 42px;
    }
  }

  &__rating {
    padding: 5px 7px;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, .1);
  }

  &__text {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -14px;
      z-index: 99;
      background: hsla(0, 0%, 100%, .3);
      height: 4px;
      width: 4px;
      border-radius: 50%;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &--upper {
      text-transform: capitalize;
    }
  }

  &__img {
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;

    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
    }

    &:after {
      top: 50%;
      bottom: 0;
      background: linear-gradient(0deg, var(--background) 10%, transparent);
    }

    &:before {
      display: none;
      top: 0;
      bottom: 80%;
      background: linear-gradient(180deg, var(--background) 10%, transparent);
    }

    & img {
      object-fit: cover;
    }
  }
}

.swiper-slide-thumb-active {
  & .hero-slide__thumb {
    border-color:  var(--primary);
  }
}