html, body, #__next {
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    width: 100dvw;
    color: var(--foreground);
    background: var(--background);
    font-family: Montserrat, sans-serif;
    display: flex;
    font-size: 14px;
    flex-direction: column;
}

#__next {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 15px 0;
}

section {
    padding-bottom: 4rem;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
}

main {
    flex: 1;
}

.swiper {
    width: 100%;
    flex-wrap: nowrap;
    overflow: initial !important;
}

.visually-hidden {
    display: none;

}

.flex {
    display: flex;
    gap: 32px;
}