:root {
    --shadow-size: 100px;
    --container-width: 1400px;
    --background: #2A2F4F;
    --foreground: #ededed;
    --primary: #FFD700;
    --secondary: #9400D3;
}

@media (max-width <= 1400) {
    :root {
        --container-width: 1228px;
    }
}
