:root {
    --shadow-size: 100px;
    --container-width: 1400px;
    --background: #09090c;
    --foreground: #ededed;
    --primary: #FFD700  ;
    --secondary: #9400D3;

    --border-color: #e4e4e7;
    --default-400: #a1a1aa;
    --foreground-text: #18181b;
    --error-color: #dc2626;
}



@media (max-width <= 1400) {
    :root {
        --container-width: 1228px;
    }
}
