.popular-slider {
  padding-left: 1rem;

  &__skeleton {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__title {
    margin-bottom: 2rem;
    padding-left: 1rem;
  }

  &__img {
    width: 100%;
    aspect-ratio:  762 / 953;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
  }

  &__item {
    width: 200px;
    transition: all .3s linear;
    margin-right: 32px;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}